
<md-tab-group>
  <md-tab label="Inicio">
    <md-list>
      <h3 md-subheader>Entidades Financieras</h3>
      <md-list-item *ngFor="let item of items | async">
        <md-icon md-list-avatar>folder</md-icon>
        <h4 md-line>{{item.codigo}}</h4>
        <p md-line> {{item.denominacion}} </p>
      </md-list-item>
    </md-list>
  </md-tab>
  <md-tab label="Data Object">
    <app-dataobject></app-dataobject>
  </md-tab>
  <md-tab label="Data List">
    <app-datalist></app-datalist>
  </md-tab>
</md-tab-group>
